<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/siuweb/greet</url-pattern>
	</servlet-mapping>
	<!-- Area Service -->
	<servlet>
		<servlet-name>AreaServiceServlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.AreaServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AreaServiceServlet</servlet-name>
		<url-pattern>/siuweb/areaservice</url-pattern>
	</servlet-mapping>

	<!-- TipoRelevamiento Service -->
	<servlet>
		<servlet-name>TipoRelevamientoServiceServlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.TipoRelevamientoServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TipoRelevamientoServiceServlet</servlet-name>
		<url-pattern>/siuweb/tiporelevamientoservice</url-pattern>
	</servlet-mapping>

	<!-- Tema Service -->
	<servlet>
		<servlet-name>TemaServiceServlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.TemaServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TemaServiceServlet</servlet-name>
		<url-pattern>/siuweb/temaservice</url-pattern>
	</servlet-mapping>

	<!-- Inspeccion Service -->
	<servlet>
		<servlet-name>InspeccionServiceServlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.InspeccionServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InspeccionServiceServlet</servlet-name>
		<url-pattern>/siuweb/inspeccionservice</url-pattern>
	</servlet-mapping>

	<!-- Diphot Service -->
	<servlet>
		<servlet-name>DiphotServiceServlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.DiphotServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DiphotServiceServlet</servlet-name>
		<url-pattern>/siuweb/diphotservice</url-pattern>
	</servlet-mapping>

	<!-- CreatePdfServlet Service -->
	<servlet>
		<servlet-name>createpdfservlet</servlet-name>
		<servlet-class>com.diphot.siuweb.server.pdfservice.CreatePdfServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>createpdfservlet</servlet-name>
		<url-pattern>/createpdfservlet</url-pattern>
	</servlet-mapping>


	<!-- Configuracion Rest -->
	<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>com.diphot.siuweb.server.services.rest.RestApi</param-value>
	</context-param>

	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<!-- Fin Configuracion Rest -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SiuWeb.html</welcome-file>
	</welcome-file-list>

</web-app>
